.locationForm input {
	box-shadow: none !important;
	border: none;
	border-bottom: 1px solid #b8b8b8;
	padding: 10px 7px;
	padding-right: 30px;
}
.locationForm input:focus {
	border-color: #b8b8b8 !important;
}
.locationForm .input-group-text {
	background: none;
	border: none;
	border-bottom: 1px solid #b8b8b8;
	padding: 0;
	border-radius: 0;
}
.input-group-text-extra {
	position: relative;
	right: 25px;
	top: 5px;
	z-index: 3;
}
.warning-text {
	font-size: 13px;
}
